{{template "base" .}}

{{define "content"}}

    <form hx-post="/admin/blog/new" hx-target="this" hx-swap="outerHTML">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" value="Title">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea type="text" name="body" rows="20" cols="50" value="Content goes here.">Content goes here.</textarea>
        </div>
        <button class="btn">Submit</button>
    </form>

{{end}}